# IDEs and code editors
.idea
.DS_Store
.vcode
.vc

# Node
node_modules

# Dependencies
vendor

# Nginx configuration
/nginx/nginx.conf

# Docker files (Environment, volumes for Database, frontend static files, certbot files, logs)
/.env
/Docker/data/db/*
/Docker/data/db-backups/*
/Docker/data/logs/*
/Docker/data/public/*
/Docker/data/admin/*
/Docker/data/certbot/*/**

# Git keep files (dummy)
!.gitkeep