body {
	margin: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

body, * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header p {
	margin: 0;
}
p {
	margin: 0 0 0.7rem 0;
}
.m-auto {
	margin: auto;
}
audio, video {
	outline: none;
}
.MuiDialogTitle-root {
	background: #0064b9;
	color: #ffffff;
}
