$pageBackgroundColor: rgb(242, 245, 250);

body {
	margin: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.4;
	background: $pageBackgroundColor;
}
body * {
	box-sizing: border-box;
}
audio, video {
	outline: none;
}
header p {
	margin: 0;
}
p {
	margin: 0 0 0.7rem 0;
}
.m-auto {
	margin: auto;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}
